// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "Lato", sans-serif;
$base-font-weight: 400;
$base-font-size: 16px;
$text-color: #292929;
$color-code-background: #9a9a8b;
$color-code-color: #f8f8f2;
