// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "Poppins", sans-serif;
$base-font-size: 18px;
$text-color: #292929;
$color-code-background: #272800;
$color-code-color: #f8f8f2;
